
#nav {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 2rem;
}

.left-elements {
  display: flex;
  /* border: 1px solid green; */
}
.left-elements a {
  text-decoration: none;
  padding: 0rem 3rem;
}

.right-elements {
  display: flex;
}

.right-nav-element a {
  text-decoration: none;
  padding: 0rem 2rem;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.left-body {
  flex-basis: 75%;
  float: left;
}
.left-top-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.right-body {
  flex-basis: 25%;
  float: left;
}

.card {
  height: 8rem;
  width: 8rem;
  border: 1px solid rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0.5px 0.5px 0px 0px rgb(66, 66, 66);
  border-radius: 1rem;
}

.card-text {
  padding: 0.5rem 0.8rem;
}
.card-circle {
  padding: 0rem 1rem;
  /* border-radius: 100%; */
  /* background-color: blue; */
  /* margin: 0.5 rem; */
}
.card-circle-text {
  background-color: blue;
  padding: 2rem;
  border-radius: 50%;
  color: white;
}

.left-bottom-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-heading {
  text-align: center;
}
.bottom-content {
  gap: 1rem;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5rem;
}

.content-top {
  background-color: rgb(191, 191, 191);
  border-radius: 2rem;
}

.status {
  background-color: lightgreen;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.right-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
